Try AI directly in your favorite apps … Use Gemini to generate drafts and refine content, plus get Gemini Pro with access to Google's next-gen AI for ₹1,950 ₹489 for 3 months
1
100%
numpy==2.2.6
tensorflow==2.21.0
pillow==11.3.0
pandas==2.3.3
streamlit==1.54.0
streamlit-cropper==0.3.1